[Unit]
Description=Agastya Frontend Streamlit Service
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/agastya-connect
Environment="PATH=/home/ubuntu/agastya-connect/venv/bin"
ExecStart=/home/ubuntu/agastya-connect/venv/bin/streamlit run app.py

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target